# Node Modules
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
client/.env
server/.env

# Logs
*.log

# Build
dist/
build/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/